.block-headline {
  margin-top: 30px;
  margin-bottom: 30px;

  h2 {
    float: left;
    font-size: 2.6rem;
    padding-right: 15px;
  }

  p {
    float: left;
    font-size: 1.3rem;
    padding-top: 1.05rem;
  }

  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.block-headline-share {
  margin-top: 42px;
  margin-bottom: 43px;
}

.bg-white {
  background-color: $white;
}
