.block-photo .caption,
.block-photo .caption-pos-center,
.block-photo .caption-pos-nw,
.block-photo .caption-pos-ne,
.block-photo .caption-pos-sw,
.block-photo .caption-pos-se {
  position: relative;
  width: 100%;
}

.two-gallery .block-photo {

  .caption-text,
  .caption-blue,
  .caption-white {

    h3 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }

  }
  .caption-pos-nw,
  .caption-pos-ne,
  .caption-pos-sw,
  .caption-pos-se {
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .block-photo {
    position: relative;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    .caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: $white;
      padding: 20px;

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.45rem;
      }
    }

    .caption-text {
      color: $white;
      padding: 20px;

      h3 {
        font-size: 5.5rem;
      }

      p {
        font-size: 2.25rem;
      }
    }

    .caption-blue {
      background-color: $blue;
      color: $white;
      padding: 20px;

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.45rem;
      }
    }

    .caption-white {
      background-color: $white;
      color: $black;
      padding: 20px;

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.45rem;
      }
    }

    .caption-pos-center {
      position: absolute;
      top: 28%;
      left: 0;
      width: 100%;
      text-align: center;
    }

    .caption-pos-nw {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
    }

    .caption-pos-ne {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
    }

    .caption-pos-sw {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
    }

    .caption-pos-se {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
    }
  }

  .two-gallery .block-photo {

    .caption-text,
    .caption-blue,
    .caption-white {
      h3 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
  }
}
