.block-content-white {
  background-color: $white;
  color: $gray-900;
  hr {
    color: $gray-900;
  }
}

.block-content-blue {
  background-color: $blue;
  color: $white;
  hr {
    color: $white;
  }
}

.block-content-gray {
  background-color: $gray-600;
  color: $white;
  hr {
    color: $white;
  }
}

.block-content {

  .content-text {
    padding: 20px;
  }

  .content-img {
  }

  .btn {
    font-family: $font-family-sans-serif;
  }

  .btn-warning {
    background-color: $orange;
    border-color: $orange;
    color: $white;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > .col-sm,
  & > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
  }
}

.invisible {
  line-height: 0;
}
