.block-content-white {
  background-color: $white;
  color: $gray-900;
}

.block-content-blue {
  background-color: $blue;
  color: $white;
}

.block-content-gray {
  background-color: $gray-600;
  color: $white;
}

.block-content .col {
  margin: 20px;

  img {
    max-width: 100%;
  }
}
