.block-headline {
  margin-top: 30px;
  margin-bottom: 30px;

  h2 {
    float: left;
    font-size: 2.6rem;
  }

  p {
    float: left;
    font-size: 1.3rem;
    padding-top: 1.05rem;
    padding-left: 15px;
  }

  &:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
