a.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  img {
    margin-top: 1rem;
    width: 150px;
    height: 66px;
  }
}

#primary {
  background-color: $white;
}

.title {
  background-color: $gray-600;
  padding-top: 40px;
  padding-bottom: 40px;

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
    .alignleft,
    .alignright {
      margin-top: 10px;
    }
  }

  h1 {
      color: $white;
  }

  .btn-secondary {
    background-color: $orange;
    font-family: $font-family-sans-serif;
  }
}

@include media-breakpoint-up(lg) {
  a.navbar-brand {
    img {
      margin-top: 1rem;
      width: 230px;
      height: 101px;
    }
  }
}

@include media-breakpoint-up(xl) {
  a.navbar-brand {
    img {
      margin-top: 1rem;
      width: 300px;
      height: 112px;
    }
  }
}
