a.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  img {
    margin-top: 2rem;
  }
  p {
    text-transform: uppercase;
    font-family: $font-family-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
}

#primary {
  background-color: $white;
}

.title {
  background-color: $gray-600;
  //margin-left: -15px;
  //margin-right: -15px;
  padding-top: 40px;
  padding-bottom: 40px;

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
    .alignleft,
    .alignright {
      margin-top: 10px;
    }
  }

  h1 {
      color: $white;
  }

  .btn-secondary {
    background-color: $orange;
    font-family: $font-family-sans-serif;
  }
}
