a.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
  img {
    margin-top: 1rem;
    width: 150px;
    height: 66px;
  }
}

#primary {
  background-color: $white;
}

.title {
  background-color: $gray-600;
  padding-top: 10px;
  padding-bottom: 10px;

  h1 {
      color: $white;
      font-size: 2rem;
  }

  .btn-secondary {
    background-color: $orange;
    font-family: $font-family-sans-serif;
  }
}

@include media-breakpoint-up(md) {
  .title {
    padding-top: 40px;
    padding-bottom: 40px;

    h1 {
        font-size: 2.5rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  a.navbar-brand {
    img {
      margin-top: 1rem;
      width: 230px;
      height: 101px;
    }
  }
}

@include media-breakpoint-up(xl) {
  a.navbar-brand {
    img {
      margin-top: 1rem;
      width: 300px;
      height: 112px;
    }
  }
}
