.search-form {

  input {
    padding: .175rem;
    font-size: .9rem;
    border: none;
    border-radius: 0;
  }

  .input-group {
    border-bottom: 1px solid #7b7a78;
    width: 100%;
  }

  .btn {

    padding: 0;
    background-color: $white;

    .icon {
      width: 12px;
      height: 12px;
      background-color: $white;
      color: #7b7a78;
      fill: currentColor;
    }

  }

}

.search-results-spacing {
  padding-top: 20px;
  .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
